[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
stix2 = "*"
phonenumbers = "*"
python-arango = "*"
pathvalidate = "*"
tld = "*"
tldextract = "*"
validators = "*"
schwifty = "*"
requests = "*"
python-dotenv = "*"
llama-index = "*"
stix2extensions = {file = "https://github.com/muchdogesec/stix2extensions/archive/main.zip"}
base58 = "*"
llama-index-llms-gemini = "*"
llama-index-core = "*"
llama-index-llms-openai = "*"
llama-index-llms-anthropic = "*"
mistune = "*"

[dev-packages]
autopep8 = "*"
