[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# langchain = {extras = ["openai"], version = "*"}
# langchain_openai = "*"
openai = "*"
stix2 = "*"
phonenumbers = "*"
python-arango = "*"
pathvalidate = "*"
tld = "*"
tldextract = "*"
validators = "*"
schwifty = "*"
requests = "*"
python-dotenv = "*"
llama-index = "*"
stix2extensions = {file = "https://github.com/muchdogesec/stix2extensions/archive/main.zip"}
base58 = "*"

[dev-packages]
autopep8 = "*"
